.loader-container {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countrywise-summary-card {
  text-align: center;
  width: 100%;
}

.country-column {
  display: flex;
  justify-content: center;
}

.countrywise-summary-card p {
  font-weight: 500;
  margin-bottom: 5px;
  color: grey;
}

.countrywise-summary-card .confirmed {
  color: #ed910d;
}
.countrywise-summary-card .recovered {
  color: #4cb9c3;
}
.countrywise-summary-card .deaths {
  color: #e93928;
}

.styled-pagination li {
  margin-bottom: 5px;
}
